@import 'src/styles';

.calendar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.day {
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin: 0;
}

.day.name {
    font-weight: bold;
    background-color: $calendar-border;
}