@import "src/styles";

.frame {
    background-color: $card-bg-color;
    width: auto;
    height: 150px;
    margin: 0 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid $menu-text-color;
}

.overview {
    text-align: center;
    justify-content: center;
    padding-top: 5px;
}

.kontostand {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.recentActivity {
    text-align: center;
    justify-content: center;
}