<div class="menu">
    <div class="section">
        <a routerLink="/payments" routerLinkActive="isActive">
            <fa-icon icon="credit-card"></fa-icon>
            <p>Payments</p>
        </a>
    </div>
    <div class="section">
        <a routerLink="/home" routerLinkActive="isActive">
            <fa-icon icon="house"></fa-icon>
            <p>Home</p>
        </a>
    </div>
    <div class="section">
        <a routerLink="/calendar" routerLinkActive="isActive">
            <fa-icon icon="calendar"></fa-icon>
            <p>Planning</p>
        </a>
    </div>
</div>